h1.especial {
	color: rgb(7, 228, 162);
	background-color: rgb(204, 15, 241);
}
h1.raro {
 	color: blueviolet;
 	background-color: yellow;
}
div{
	border:rgb(214, 236, 9) 5px solid;
	margin: 10px;
    padding: 10px;
}