html{
	background-color:white ;

	
}
h1{
	text-align: center;
}
nav div{
	background-color: black;
	color: white;
	display: inline;
	padding:20px 85px;
}
nav {
	
	padding: 40px 25px;
	
	
}
div.sidebar{
	
padding: 250px 50px;
background-color: black;
color: white;
float: left;

}
.courses{
	
	padding: 15px 15px;
	column-count: 3;
	margin: 15px 15px;
}
.course{
	border: 2px black solid;
	text-align: center;
}
section.articles{
	padding: 15px 15px;
	column-count: 3;

}
footer{
	border: 1px black solid;
	background-color: gray;
	text-align: center;
	padding: 20px 20px;

}
/*
.sidebar{
	width: 20%;
	margin-left: 5%;
	float: left;
	color: white;
	background-color: black;
}