*{
	
	box-sizing: border-box;
	background-color: grey;
	
}


div.fixed-sidebar img{
	width: 85px;
	height: 50px;
}
.fixed-sidebar{
	border: 1px black solid;
	width: 90px;
	height: 300px;
	padding: 2px;
	position:fixed ;
	top: 250px;
	left: 5px;
	border-top-right-radius: 20px;
	border--left-radius:20px ;
}
div.fixed-sidebar ul{
	list-style-type: none;
	padding-left: 1%;
	text-align: center;
}
.container {
	border: 1px black solid;
	width:80% ;
	height: 4000px;
	margin: 20% auto;
	background-color: rgb(100, 219, 100);

}
nav{
	background-color: rgb(45, 44, 44);
	height: 60px;
	text-align: left;
	padding-top: 20px;
	position: sticky;
	top:0
	z-index: ;
}
.nav-item {
background-color: rgb(47, 45, 45);
display: inline;
color: white;
padding-right: 60px;



}
#li1{
	border: 2px black solid;
	background-color: white;
	padding: 20px;
	
	}
#li2{
	border: 2px black solid;
	background-color: white;
	padding: 20px;
	
	
	}
#li3{
	border: 2px black solid;
	background-color: white;
	padding: 20px;
	
	}
#li4{
	border: 2px black solid;
	background-color: white;
	padding: 20px;
	
	}
	/*
	width: fit-content;
	justify-content: center;
	margin: 100px;
	.nav-item{
		padding: 50px;
		width: 300px;;
		background-color: rgb(42, 40, 40);
		color:white;
		display: inline;

body{
	background-color: rgb(98, 226, 98);

		-webkit-box-sizing: border-box;
	
	}*/