span.capital {
	float: left;
	background-color: rgb(37, 203, 51)
	color: white;
	font-family: monospace;
	font-size: 400%;
  }
  p.DOS:: {
	float: left;
	background-color: rgb(236, 236, 0)
	color: rgb(0, 60, 255);
	font-family: monospace;
	font-size: 400%;
  }