span.capital {
	float: top;
	background-color: rgb(37, 203, 51)
	color:blueviolet
	font-family: monospace;
	font-size: 400%;
  }

  p.dos::first-letter {
	float: left;
	background-color: rgb(236, 236, 0)
	color: rgb(0, 60, 255);
	font-family: monospace;
	font-size: 400%;
  }
  
img {
	float: none;

  }
  